.nav-link {
    color: white;
}

header {
    margin: 20px;
}

main {
    margin-left: 20px;
}

.card1 {
    width: 26rem; 
    height: 268px; 
    float: right; 
    margin-right: 20px;
    margin-left: 20px;
    background-color: darkgoldenrod;
}

.cards {
    width: 50rem; 
    margin-left: 100px; 
    margin-top: 40px;
}